/***
This css file is used in few pages with background and centre bar
***/

/* import the Poppins font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* the background of login and register pages */
body{
  background-color: black;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1920px;
  height: 1200px;
  display: flex;
  margin: 0 auto;
  position: relative;
  /* keep main center_bar  at center */
  justify-content: center;
  align-items: center;
}


/* center bar elements*/
.center_bar {
  height: 910px;
  width: 752.12px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  border-radius: 20px;
  margin: auto;
}

/* titles of each center bar and the website for different pages*/
.title {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins-SemiBold", sans-serif;
}

/* The left arrow represent return to previous bage*/
#return_button {
  height: 30px;
  width: 28px;
  background-image: url(../images/return.png);
  position: absolute;
  top: 60px;
  left: 70px;
}

/* The title of centre bar element*/
.center_bar_title {
  font-size: 20px;
  margin-left: 90px;
  font-weight: 500;
}

/* Input bar of centre bar element*/
.input_area {
  border-radius: 25px;
  margin-top: 0px;
  margin-left: 60px;
  height: 50px;
  width: 619px;
  border: none;
  font-size: 20px;
  padding-left: 27px;
}


.notice_words {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  color: red;
  margin-left: 83px;
  margin-top: -5px;
}


/* The purple background button*/
.purple_button {
  height: 40px;
  width: 368px;
  border-radius: 25px;
  border-style: none;
  background: #5A7BEF;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

/* The submit button position */
#input_submit {
  margin-left: 200px;
  margin-top: 20px;
}

/* The normal button*/
.button {
  height: 40px;
  width: 368px;
  border-radius: 25px;
  border-style: none;
  margin-left: 100px;
  background: white;
  color: #5A7BEF;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

/* contexts in the normal button */
.button > a> p{
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
}

/* the link to forget password */
#forget_pwd {
  font-family: "Poppins-Redular", sans-serif;
  font-size: 20px;
  color: #898A8F;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 400;
  border: 0px;
  position: absolute;
  top: 450px;
  right: 45px;
}

/* the link to forget password */
#emial_input_and_verify {
  position: relative;
  height: 52px;
  width: 621px;
  margin-bottom: 16px;
}

/* button to send email verification*/
#verify_button {
  height: 50px;
  width: 202px;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: 1px;
  right: -100px;
  border-radius: 25px;
  border-style: none;
  background: #5A7BEF;
  color: white;
  margin-left: 20px;
}
