/***
This css document for side bar format:
***/

/* import the Poppins font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 992px) {

  .side_bar{
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    /*Stays in place */
    background-color: #5c66ee;
    border-radius: 0 20px 20px 0;
    /*green*/
    overflow-x: hidden;
    /*for Disabling horizontal scroll */
  }

  .side_bar_title {
    display: block;
    color: #FFFFFF;
    margin-left: 20px;

  }

  .close_button {
    margin-left: 10px;
    position: relative;
    top: 69px;
  }
  
  .close_button_icon{
    height: 18px;
    width: 18px;
  }

  .side_bar_medicine_one{
    display: block;
    font-size: 18px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 1em;
    font-weight: bold;
    position: relative;
    top: 70px;
    
  }

  .side_bar_team_010 {
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 10px;
    position: relative;
    top: 70px;
  }

  .side_bar_line {
    position: relative;
    top: 70px;
  }

  .side_bar_item {
    margin-top: 18px;
    margin-left: 5px;
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 70px;
  }

  .side_bar_icon {
    width: 18px;
    height: 20px;
    display: none;
  }

  .side_bar_selected {
    background-color: #505bf5;
    margin-left: 0px;
    padding-left: 10px;
    border-radius: 15px;
  }

}






@media screen and (min-width: 992px) {
  .side_bar {
    height: 985px;
    width: 271px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #F5F5F5;
    border-radius: 15px;
    /* position: relative; */

  }
  
  .side_bar_title {
    display: block;
    color: #6E78F7;
    margin-left: 20px;
    position: relative;
  }
  
  .side_bar_medicine_one{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 1em;
    font-weight: bold;
  }
  
  .side_bar_team_010 {
    margin-top: -20px;
    margin-bottom: 10px;
  }
  
  .side_bar_item {
    margin-top: 25px;
    margin-left: 10px;
    color: black;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .side_bar_icon {
    width: 18px;
    height: 20px;
  }
  
  .side_bar_selected {
    background-color: #DFE0E2;
    margin-left: 0px;
    padding-left: 10px;
  }
  
  .side_bar_line {
    border: 1px solid #D3D3D3;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .close_button {
    display: none;
  }
}